<% @photos.each do |photo| %>
<div>
  <%= image_tag photo.image_url, :class => 'img-rounded'%>
    <% if current_user %>
      <div class="btn-group">
        <button class="btn"><i class="icon-edit"></i> <%= link_to 'Edit', edit_photo_path(photo) %>
        <button class="btn"><i class="icon-remove"></i> <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
</div>
  <br />
<% end %>

<br />
