<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @photo.image_url, :class => 'img-rounded'%>
</p>

<% if current_user %>
  <div class="btn-group">
    <button class="btn"><i class="icon-edit"></i> <%= link_to 'Edit', edit_photo_path(@photo) %> |
    <button class="btn"><i class="icon-remove"></i> <%= link_to 'Back', photos_path %>
	</div>
<% end %>